extends ../layouts/base
include ../mixins/snippets
include ../mixins/listings
        
mixin splashImage(imageNumber)
  - const imageUrl = `background-image:url(/images/homepage/img${imageNumber}.jpg);`
  span.transition-opacity.vh-75.w-100.cover.bg-center.dib.absolute(style=imageUrl)
          
block content
  #titleContainer.pa4.light-gray(class=`bg-${color}`)
    h1.f2.f1-ns.fw7.ttu.lh-title.ma0
      | Chinese film and the cross-cultural medical humanities
      
  #homeImageContainer.bg-black
    +splashImage(1)
    +splashImage(2)
    +splashImage(3)
    +splashImage(4)
    +splashImage(5)
        
    div.vh-75
          
  #bylineContainer.ph4.pv2.pv4-ns.light-gray.f3.f2-ns.fw7.lh-title(class=`bg-${color}`)
    p What can the Sinophone world offer to the Medical Humanities?
    p What can the Medical and Health Humanities offer to China?
            
  if themes && themes.length
    #themesSection
      #themesTitle.ttu.bg-purple.ph4.pv3.light-gray
        h2.ma0.f4.f2-ns top themes
                  
      +list()
        each theme in themes
          - const title = `Movies about ${theme.name}`
          - const img = theme.image && theme.image.secure_url ? theme.image.secure_url : null
          +listing("themes", theme.name, title, "purple", img)
                    
      a.no-underline(href="/themes" title="Browse all themes")  
        #browseThemesBox.ttu.bg-purple.ph4.pv3.light-gray.hover-bg-light-purple.pointer
          h2.ma0.f4.f2-ns Browse all themes >>
  
      a.no-underline(href="/movies" title="Browse all movies")                
        #browseMoviesBox.ttu.bg-blue.ph4.pv3.light-gray.hover-bg-light-blue.pointer
          h2.ma0.f4.f2-ns Browse all movies >>
          
      a.no-underline(href="/directors" title="Browse all directors")                
        #browseDirectorsBox.ttu.bg-green.ph4.pv3.light-gray.hover-bg-light-green.pointer
          h2.ma0.f4.f2-ns Browse all directors >>  
          
      a.no-underline(href="/genres" title="Browse all genres")                
        #browseGenresBox.ttu.bg-yellow.ph4.pv3.light-gray.hover-bg-light-yellow.pointer
          h2.ma0.f4.f2-ns Browse all genres >>  
                        
  include ../partials/about_us
                        
  script
    include ../js/home_images.js
