extends ../layouts/base
include ../mixins/snippets
include ../mixins/img-gallery.pug
include ../mixins/social.pug


block content
  
  //- Helper
  - const firstKey = (obj) => Object.keys(obj)[0]
  
  //- Additional sections possible
  - const sections = [ "context", "synopsis", "cinematography", "pointsForDiscussion", "externalLinks" ]
  
  //- Query checks
  - const hasVideo = movie.video
  - const hasImages = movie.gallery.length
  - const hasNotesSection = sections.some(s => movie[s].html && movie[s].html.length)
  
  //- title and main details
  - const movieTitle = movie.name + (movie.name_chn.length ? ` (${movie.name_chn})` : '')
  
  #title-container.pa1.pl2.pa2-ns.pl3-ns.shadow-5.z-1(class=`bg-${primaryColor}`)
      
    +breadcrumbs("movies", movie.name)
      
    h2.light-gray.f5.f4-ns.fw5.lh-title
      if movie.year
        span.mr2=movie.year
      if movie.duration
        span.mh2=movie.duration + ' mins'
      if movie.director && (movie.year || movie.duration)
        span.mh2 |
      if movie.director
        span.mh2=`${__.movie_profile.director} ${director.name}`
      if movie.director.name_chn
        span.ma0.sans-serif=`${director.name_chn}`
    
    if (movie.name_chn)
      h1.light-gray.ttu.f2.f1-ns.fw7.lh-copy.ma0.sans-serif=movie.name_chn
    h1.light-gray.ttu.f2.f1-ns.fw7.lh-title.ma0=movie.name

  #menu.pa2.pa3-ns.shadow-5.z-1.sticky.top-0.light-gray.o-90(class=`bg-${primaryColor}`)
    #menu-mobile.flex.flex-row.justify-between.pointer.dn-ns
      p.ma0.f5.fw7.ttu=movie.name
      img.h1.mr3(src="/arrow_drop_down_black.svg")
    ul#drop-down.list.flex-ns.flex-column.flex-row-ns.pa0.pv2.justify-start.ma0.dn
      li.ttu.mr4.fw7.pv2.pv0-ns.dn.flex-ns=movie.name + ':'
        +profileMenuItem("summary", __.movie_profile.summary)
      if hasVideo
        +profileMenuItem("video",  __.movie_profile.video)
      if hasImages
        +profileMenuItem("images",  __.movie_profile.images)
      if hasNotesSection
        +profileMenuItem("screening",  __.movie_profile.screening_notes)
  
  a#anchor-summary(tabindex="-1")  
        
  if movie.image.secure_url
    #image-container.flex.flex-column.justify-center.h4.h6-ns.bg-near-white.relative.z--1
      span.h-100.contain.no-repeat.dib.relative.w-100.self-center.mw7(style=`background-image:url("${movie.image.secure_url}"); background-repeat: no-repeat; background-position: center`)
    
  #content.pa3.pa5-ns.mw7
    +socialIcons(full_url)
        
    //- summary section
    section#summary.flex.justify-start
      
      if themes
        #themes
          +subHeading(`${__.movie_profile.themes}`)
          ul.list.pa0.ma0
            for item in themes
              +profileLink(item.name, `${__.movie_profile.themes}/${item.key}`)
        
      if genres
        #genres.ml5 
          +subHeading(`${__.movie_profile.genres}`)
          ul.list.pa0.ma0
            for item in genres
              +profileLink(item.name, `${__.movie_profile.themes}/${item.key}`)
          
    +section(movie, "summary", `${__.movie_profile.intro}`)
      
    //- video section
    if movie.video && movie.video.includes("mediacentral.ucl.ac.uk")
      a#anchor-video(tabindex="-1")
      hr.mt3.mb3
      section#video.flex.flex-column
        +sectionHeading(`${__.movie_profile.video}`)

        div.relative.pb-video.h0.bg-black
          iframe.absolute.top0.left0.w-100.h-100(allowfullscreen src=movie.video frameborder="0" scrolling="no")
        if movie.videoLinks.html
          +subHeading(`${__.movie_profile.more_video_links}`)
          #video-links.f6.f5-ns
            !=movie.videoLinks.html
    
    //- gallery section
    if movie.gallery.length
      hr.mh0.mv3
      a#anchor-images(tabindex="-1")    
      section#gallery.pv1.flex.flex-column
      - const imgArray = movie.gallery
      - const imgHolderStyle = `width:${100 * imgArray.length}%`
      
      section#gallery.pv3.flex.flex-column
        +sectionHeading(`${__.movie_profile.image_gallery}`)
        // - image slider
        div.slider-holder.w-100.h4.h6-ns.center.mt0.overflow-hidden.tc
          each _, spanIndex in imgArray  
            +sliderHolder(spanIndex)
          .image-holder.bg-gray.h4.h6-ns.relative.cb.trans-slide(style=imgHolderStyle)
            each img in imgArray
              +galleryImage(img, imgArray.length)
          .button-holder.relative.top--1
            each _, linkIndex in imgArray
              +galleryLink(linkIndex)

    if hasNotesSection
      a#anchor-screening(tabindex="-1")
        
    //- context section
    +section(movie, 'context', `${__.movie_profile.context}`)
    
    //- synopsis
    +section(movie, 'synopsis', `${__.movie_profile.synposis}`)
        
    //- cinematography
    +section(movie, 'cinematography', `${__.movie_profile.cinematography}`)
        
    //- points for discussion
    +section(movie, 'pointsForDiscussion', `${__.movie_profile.points_for_discussion}`)
        
    //- external links
    if movie.externalLinks.html.length
      hr.mh0.mv3
      +sectionHeading(`${__.movie_profile.external_links}`)
      #external-links.f6.f5-ns
        !=movie.externalLinks.html
        
    //- teaching & learning
    +section(movie, 'bibliography', `${__.movie_profile.teaching_and_learning}`)
    
block scripts
  script
    include ../js/main.js
    include ../js/menu.js
