extends ../layouts/base
include ../mixins/snippets
include ../mixins/img-gallery.pug
include ../mixins/social.pug


block content
  
  //- Helper
  - const firstKey = (obj) => Object.keys(obj)[0]
  
  //- Additional sections possible
  - const sections = [ "context", "synopsis", "cinematography", "pointsForDiscussion", "externalLinks" ]
  
  //- Query checks
  - const hasVideo = movie.video !== undefined
  - const hasImages = (movie.gallery !== undefined) && movie.gallery.length !== 0
  - const hasAvailabilitySection = movie.availability.html !== undefined
  - const hasNotesSection = sections.some(s => movie[s].html && movie[s].html.length)
  - const hasReferencesSection = resources && resources[0] !== undefined
  - console.log("hasReferencesSection", hasReferencesSection);
  //- title and main details
  - const movieTitle = movie.name + (movie.name_chn.length ? ` (${movie.name_chn})` : '')
  
  #title-container.pa1.pl2.mt5-ns.mt4.pa2-ns.pl3-ns.shadow-5.z-1(class=`bg-${primaryColor}`)

    if locale === "en"  
      +breadcrumbs(`${__.navbar.films}`, movie.name)
    else if locale ==="chn"
      +breadcrumbs(`${__.navbar.films}`, movie.name_chn)
    //- if movie.resources.url 
      img(src=movie.resources.url)

    if locale==="en"
      h1.white.ttu.f2.f1-ns.fw7.lh-copy.ma0.sans-serif=movie.name
      h2.white.f3.f3-ns.fw7.lh-title.ma0
        span=movie.name_chn
        if (movie.name_pinyin)
          span.f5.f5-ns.normal.i  (#{movie.name_pinyin})
    if locale==="chn"
      h1.white.ttu.f2.f1-ns.fw7.lh-copy.ma0.sans-serif=movie.name_chn
      h2.white.f3.f3-ns.fw7.lh-title.ma0
        span=movie.name
      
      
    h2.white.f5.f4-ns.fw2.lh-title
      if movie.year
        span.mr2=movie.year
      if movie.duration
        span.mh2=movie.duration + ' mins'
      if movie.director && (movie.year || movie.duration)
        span.mh2 |
      if movie.director
        a.no-underline(href=`/directors/${directorPage}`)
          span.mh2.white.navbarlink=`${__.movie_profile.director} ${director.name}`
      if movie.director.name_chn
        a.no-underline.white.navbarlink(href=`/directors/${directorPage}`)
          span.white.ma0.sans-serif.hover-underline=`${director.name_chn}`      

  #menu.shadow-5.pl2.z-1.sticky.top-1-9.top-4-ns.white(class=`bg-${secondaryColor}`)
    #menu-mobile.flex.flex-row.justify-between.items-center.pointer.dn-ns.pv1.pv0-m
      p.ma0.f5.fw7.ttu=movie.name
      img.h2.mr3(src="/arrow_drop_down_black.svg")
    ul#drop-down.list.flex-ns.flex-column.flex-row-ns.items-center.pa0.pv2.justify-start.ma0.dn
      li.ttu.mr4.fw7.pv2.pv0-ns.dn.flex-ns=movie.name + ':'
      if hasImages
        +profileMenuItem("images",  __.movie_profile.images)
      +profileMenuItem("summary", __.movie_profile.intro)
      if hasVideo
        +profileMenuItem("video",  __.movie_profile.video)
      if hasNotesSection
        +profileMenuItem("screening",  __.movie_profile.screening_notes)
      if hasReferencesSection
        +profileMenuItem("references", __.movie_profile.references)
      +profileMenuItem ("share", __.movie_profile.share)  
  //- gallery section
  if movie.gallery.length
    a#anchor-images.anchor-ns.anchor(tabindex="-1")    
    - const imgArray = movie.gallery
    - const imgHolderStyle = `width:${100 * imgArray.length}%`
    
    section#gallery.flex.flex-column.bg-near-white
      //- image slider
      .slider-holder.center.mt0.overflow-hidden.tc.pv4-ns.pv2.mw7-l.mw6-m.mw5
        each _, spanIndex in imgArray  
          +sliderHolder(spanIndex)
        .image-holder.h4.h6-ns.relative.cb.trans-slide(style=imgHolderStyle)
          each img in imgArray
            +galleryImage(img, imgArray.length)
        div
          .button-holder.relative.tc.mt3
        each _, linkIndex in imgArray
          +galleryLink(linkIndex)

      
  #content.pa3.pt1.mw8.center
  
    //- summary section
    a#anchor-summary.anchor-ns.anchor(tabindex="-1")  
    section#summary.flex.justify-start
    +section(movie, "summary", `${__.movie_profile.intro}`)
      
    //- first video section
    if movie.video && movie.video.includes("mediacentral.ucl.ac.uk")
      a#anchor-video.anchor-ns.anchor(tabindex="-1")
      hr.mt3.mb3
      section#video.flex.flex-column.mw7
        +sectionHeading(`${__.movie_profile.video}`)
        if movie.isFullMovie
          h2.f4.f4-ns.mb2.fw3.lh-title.ttu.blue=__.movie_profile.fullMovie

        div.relative.pb-video.h0.bg-black
          +mainVideo(videoId)
          
    //- more videos section
    if movie.videos
      .video#video-links.f6.f5-ns
        each video in videos
          .videoContainer
            +video(video.videoId)
            .f6.f5-ns.dark-gray.pl2.initial-text.ma1!=video.caption.html

    if hasNotesSection
      a#anchor-screening.anchor-ns.anchor(tabindex="-1")
      hr.mt3.mb3
      +sectionHeading (`${__.movie_profile.screening_notes}`)

    //- context section
    
    +subSection(movie, 'context', `${__.movie_profile.context}`)
    
    //- synopsis
    +subSection(movie, 'synopsis', `${__.movie_profile.synposis}`)
        
    //- cinematography
    +subSection(movie, 'cinematography', `${__.movie_profile.cinematography}`)
        
    //- points for discussion
    +subSection(movie, 'pointsForDiscussion', `${__.movie_profile.points_for_discussion}`)
    
    //- availability 
    if hasAvailabilitySection
      - const availabilityBody = locale === 'en' ? movie.availability.html : movie.availability___chn
      hr.mh0.mv3
      +subSectionHeading(`${__.movie_profile.availability}`)
      #availability.f6.f5-ns
        !=availabilityBody
      
    //- references
    if hasReferencesSection
      a#anchor-references.anchor-ns.anchor(tabindex="-1")  
      hr.mt3.mb3
      +sectionHeading (`${__.movie_profile.references}`)
      each resource in resources
        - const url = resource.resources.url
        a(href=`${url}`) RESOURCE    
      
    //- external links
    if movie.externalLinks.html && movie.externalLinks.html.length
      hr.mh0.mv3
      +sectionHeading(`${__.movie_profile.external_links}`)
      #external-links.f6.f5-ns
        !=movie.externalLinks.html
        
    //- teaching & learning
    +section(movie, 'bibliography', `${__.movie_profile.teaching_and_learning}`)
    //- share
    hr.mh0.mv3
    a#anchor-share.anchor-ns.anchor(tabindex="-1")
    +sectionHeading(`${__.movie_profile.share}`)
    +socialIcons(full_url)
    
block scripts
  
  script
    include ../js/main.js
    include ../js/menu.js
    include ../js/img-gallery.js
