extends ../layouts/base
include ../mixins/links

block content

  - var titleDetails = [ movie.name_chn, movie.year, movie.duration, ]
  - var filteredDetilas = titleDetails.filter(detail => detail);
  
  #title-container.bg-light-red.h4.pa3.shadow-5.z-1
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns=movie.name
    h2.light-silver.f4.f3-ns.fw5.lh-title.ma0=`(${filteredDetilas.join(', ')}) By ${director.name}`    
  
  #image-container.flex.flex-row.justify-center(style=`height: ${movie.image.height}px`)
    img.mw100.z--1(src=movie.image.secure_url alt=movie.name title=movie.name)
      
  #menu.pa3.bg-light-red.h3.shadow-5.z-1.sticky.top-0
    p.ttu.ma0.f4.f3-ns.fw6="Summary"
    
  #content.pa3
    
    section#summary
      +listCollection("theme", themes)
      +listCollection("genre", genres)
      +sectionParagraph(movie.summary.html)    
      
    section#video.pv3
      +sectionHeading("Video")
      #video-container.h5.bg-gray
      
     
                
