extends ../layouts/base
include ../mixins/links

block content
  
  //- title and main details
  - const movieTitle = movie.name + (movie.name_chn.length ? ` | ${movie.name_chn}` : '')
  
  #title-container.bg-light-red.pa3.shadow-5.z-1
    h1.ttu.f3.f2-ns.fw7.lh-title.ma0.mb1.mb3-ns
      span=movie.name
      if (movie.name_chn)
        span.ml3.light-silver=movie.name_chn
    
    if movie.year
      h2.light-silver.f5.f4-ns.fw5.lh-title.ma0=`Year: ${movie.year}`
      
    if movie.duration 
      h2.light-silver.f5.f4-ns.fw5.lh-title.ma0=`Duration: ${movie.duration}mins`
      
    if director.name
      h2.light-silver.f5.f4-ns.fw5.lh-title.ma0
        | Director: 
        span=director.name
        span.light-gray.ml2=director.name_chn
        
  #menu.pa3.bg-light-red.shadow-5.z-1.sticky.top-0
    p.ttu.ma0.f6.f5-ns.fw6="Summary"
  
  if movie.image.secure_url
    #image-container.flex.flex-column.justify-center.h5.h6-ns.bg-light-gray.z--1
      img.self-center(src=movie.image.secure_url alt=movie.name title=movie.name height=movie.image.height width=movie.image.width)
    
  #content.pa3.pa4-ns.mw7
        
    //- summary section
    section#summary
      
      if themes.length
        +listCollection("theme", themes)
        
      if genres.length
        +listCollection("genre", genres)
        
      if movie.summary.html.length
        +subHeading("intro")
        +sectionParagraph(movie.summary.html)    
      
    //- video section
    if movie.video
      section#video.pv3.flex.flex-column
        +sectionHeading("Video")
        #video-container.h5.bg-gray.w-100.mw7.self-center
      
     
                
