extends ../layouts/base
include ../mixins/links

block css
  style
    include ../css/custom.css

block content
  
  //- title and main details
  - const movieTitle = movie.name + (movie.name_chn.length ? ` | ${movie.name_chn}` : '')
  
  #title-container.bg-light-red.pa3.shadow-5.z-1
    h1.ttu.f3.f2-ns.fw7.lh-title.ma0.mb1.mb3-ns
      span=movie.name
      if (movie.name_chn)
        span.ml3.light-silver=movie.name_chn
    
    if movie.year
      h2.light-silver.f5.f4-ns.fw5.lh-title.ma0=`Year: ${movie.year}`
      
    if movie.duration 
      h2.light-silver.f5.f4-ns.fw5.lh-title.ma0=`Duration: ${movie.duration}mins`
      
    if director.name
      h2.light-silver.f5.f4-ns.fw5.lh-title.ma0
        | Director: 
        span=director.name
        span.light-gray.ml2=director.name_chn
        
  #menu.pa3.bg-light-red.shadow-5.z-1.sticky.top-0
    p.ttu.ma0.f6.f5-ns.fw6="Summary"
  
  if movie.image.secure_url
    #image-container.flex.flex-column.justify-center.h5.h6-ns.bg-light-gray.z--1
      img.self-center(src=movie.image.secure_url alt=movie.name title=movie.name height=movie.image.height width=movie.image.width)
    
  #content.pa3.pa4-ns.mw7
        
    //- summary section
    section#summary
      
      if themes.length
        +listCollection("theme", themes)
        
      if genres.length
        +listCollection("genre", genres)
        
      if movie.summary.html.length
        +subHeading("intro")
        +sectionParagraph(movie.summary.html)    
      
    //- video section
    if movie.video && movie.video.includes("mediacentral.ucl.ac.uk")
      section#video.pv3.flex.flex-column
        - const videoLink = movie.video
        - const videoId = movie.video.split('/').pop();
        - const baseUrl = "https://mediacentral.ucl.ac.uk/player?autostart=n&fullscreen=y&width=0&height=0&quality=hd&captions=n&chapterId=0"
        - const iframeUrl = baseUrl + "&videoId=" + videoId
        +sectionHeading("Video")
        div.relative.pb-video.pt2.h0
          iframe.absolute.top0.left0.w-100.h-100(allowfullscreen src=iframeUrl frameborder="0" scrolling="no")
        if movie.videoLinks.html
          +subHeading("More video links")
          #video-links.pa2
            !=movie.videoLinks.html
          
    //- gallery section
    if movie.gallery
      section#gallery.pv3.flex.flex-column
        +sectionHeading("Image gallery")
        div.slider-holder.w-90.h4.h6-ns.bg-yellow.center.mt0.overflow-hidden.tc
          - let index = 1
          each img in movie.gallery  
            span(id=`slider-image-${index}`)
            - index++
          .image-holder.bg-gray.h4.h6-ns.relative.cb.trans-slide(style=`width:${100 * movie.gallery.length}%`)
            each img in movie.gallery
              .slider-image.fl.ma0.pa0.relative.h-100(style=`width:${100 / movie.gallery.length}%`)
                img.h-100.w-100(src=img.secure_url style=`max-width:${img.width}px max-height:${img.height}px`)
          .button-holder.relative.top--1
            - let linkIndex = 1
            each img in movie.gallery
              a.slider-change.h05.w05.bg-white.br-100.ma05.dib(href=`#slider-image-${linkIndex}`)
              - linkIndex++

    //- synopsis
    section#synopsis
      if movie.synopsis.html.length
        +sectionHeading("Synopsis")
        +sectionParagraph(movie.synopsis.html)
