- var country = locale==='en' ? "中文" : "EN"
nav.bg-gray.h2.h3-ns.w-100.items-center.fixed.z-1.flex.flex-row.items-center.justify-between
  a.h-100.flex-row(href=`/` title="YiMovi home")
    .logo(class=`svg-fill--${secondaryColor}`).h-100
      include ../svg/logo.svg
  include ./burger.pug
  div.dn.db-m
    a.link.ph3.white.fw1.dn-m.dib-l(href=`/` alt="YiMovi home") #{__.navbar.home}
    a.link.ph3.white.fw1(href=`/movies` alt="All Films") #{__.navbar.films}
    a.link.ph3.white.fw1(href=`/themes` alt="Themes") #{__.navbar.themes}
    a.link.ph3.white.fw1(href=`/genres` alt="Genres") #{__.navbar.genres}
    a.link.ph3.white.fw1(href=`/directors` alt="Directors") #{__.navbar.directors}
    a.link.ph3.white.fw1.dn-m.dib-l(href=`/#aboutUsSection` alt="About") #{__.navbar.about}
    a.link.ph3.white.fw1(href=`/#contactUsSection` alt="Contact") #{__.navbar.contact}
    a.link.ph3.white.fw1(href=`/team` alt="Team") #{__.navbar.team} 
    a.link.ph3.white.fw3.tracked(href=`${languageSwitchUrl}` alt='Switch language') #{country}
#main-mobile-nav.dn-m.fixed.z-999.w-100.mt5-ns.mt4.dn.bg-white.right-0.shadow-3
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/` alt="YiMovi home" class=`hover-bg-${primaryColor}`) Home
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/movies` alt="All Films" class=`hover-bg-${primaryColor}`) All Films
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/themes` alt="Themes" class=`hover-bg-${primaryColor}`) Themes
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/genres` alt="Genres" class=`hover-bg-${primaryColor}`) Genres
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/directors` alt="Directors" class=`hover-bg-${primaryColor}`) Directors
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/#aboutUsSection` alt="About" class=`hover-bg-${primaryColor}`) About
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/#contactUsSection` alt="Contact" class=`hover-bg-${primaryColor}`) Contact
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`/team` alt="Team" class=`hover-bg-${primaryColor}`) Team
  a.link.mobile-link.tc.db.ph3.pv2.dark-gray.fw3.f4.bb.bw1.b--light-gray.hover-white(href=`${languageSwitchUrl}` alt='Switch language') #{country}
