mixin sliderHolder(index)
  span(id=`slider-image-${index + 1}`)

mixin galleryImage(img, length)
  - const imgStyle=`max-width:${img.width}px max-height:${img.height}px`
  .slider-image.fl.h-100.ma0.pa0.relative(style=`width:${100 / length}%`)
    img.h-100.w-100(src=img.secure_url style=imgStyle)

mixin galleryLink(index)
  - const imgId = `image${index + 1}`
  - const bg = index === 0 ? 'bg-light-blue' : 'bg-dark-gray'
  button.pointer.bn.slider-change.h1.w1.ma1.grow.br-100.dib.bg-dark-gray.v-mid.ma2(id=`${imgId}` class=`${bg} hover-bg-light-${primaryColor}`)
