mixin sectionHeading(text)
    h2.f4.f3-ns.fw6.lh-title.ma2.ttu.light-red=text

mixin subHeading(text)
    h3.f5.ma2.ttu
      =text
      
mixin sectionParagraph(body)
    - const stripped = body.replace(/<[^>]*>/g, "").slice(0, 200).trim() + '...'
    div.sectionParagraph
      p.ma0.initial-text=stripped
      p.ma0.dn.hidden-text!=body.replace(/<p>/, '').replace("</p>", "")
      a.underline.light-red.showMore.pointer
        ="Show more"

mixin link(text, obj)
    a(href=`/${text}/${obj.key}`)
      =obj.name
      
mixin pill(text, link)
    li.bg-gray.pa2.br-pill.dim.ma1: a.no-underline.white(href=`/${link}`)
      =text      
      
mixin linkMovie(movie)
    +link('movies', movie)
    
mixin linkTheme(theme)
    +link('themes', theme)
    
mixin linkGenre(genre)
    +link('genres', genre)
    
mixin listCollection(type, list)
    if type === 'genre'
      +subHeading("Genres")
    else 
      +subHeading("Themes")
    ul.list.pa0.flex.flex-wrap.ma0
      for item in list
        if type === 'genre'
          +pill(item.name, `genres/${item.key}`)
        else
          +pill(item.name, `themes/${item.key}`)
        
