mixin listing(type, name, title, color, img)
  - const url = `/${type}/${name}`
  li.w-100.w-50-l
    a.no-underline(href=url title=title)
      div.listing-box.h4.h5-ns.ba.bw1.b--light-gray.light-gray.flex.flex-row.pointer(class=`bg-light-${color}`)
        .img-container.w-50.h-100(class=`bg-${color}`)
          if img
            span.cover.dib.w-100.h-100(style=`background-image:url("${img}")`)
          .title-container.w-50
            p.mt5.mt6-ns.ml2.ml3-ns.f4.f3-ns.fw6.ttu=name
          
mixin list()
  .list.w-100
    ul.list.pl0.ma0.flex.flex-row.flex-wrap.w-100.ba.bw1.b--light-gray.bg-light-gray
      block
