mixin listing(type, name, key, title, color, img)
  - const url = `/${type}/${key}`
  li.w-100.w-50-l
    a.no-underline(href=url title=title)
      div.listing-box.h4.h5-ns.bt.bw1.b--light-gray.dark-gray.hover-white.flex.flex-row.pointer(class=`hover-bg-light-${color}`)
        .img-container.w-50.h-100.bt.bw1.b--light-gray(class=`bg-${color}`)
          if img && !(type === "directors")
            span.cover.dib.w-100.h-100(style=`background-image:url("${img}")`)
          if img && (type === "directors")
          span.contain.bg-center.dib.w-100.h-100.bg-black(style=`background-image:url("${img}")`)
        .title-container.w-50.self-center
          p.ml3.f4.f3-ns.fw3.tracked.ph2-ns.ttu=name
mixin list()
  .list.w-100
    ul.list.pl0.ma0.flex.flex-row.flex-wrap.w-100.b--light-gray.bg-white.gray
      block
