mixin mainDetails(movie, director)
  .mainDetails
    p.light-silver.f7.f4-ns.fw5.lh-title.ma0.mt1
      if movie.year
        span.mr1=movie.year
      if movie.duration
        span.mh1=movie.duration + ' mins'
    if movie.director && movie.director.name
      p.light-silver.f7.f4-ns.fw5.lh-title.ma0
        span=`Director ${director.name} `
        if movie.director.name_chn
          span.ma0.sans-serif=director.name_chn
      
mixin titleEn(title)
  - const truncated = title.slice(0, 25) + (title.length > 25 ? '...' : '')
  h2.ttu.ma0.f5.f3-ns.lh-title
    =title
      
mixin titleChn(movie)
  if movie.name_chn
    h2.ttu.ma0.f5.f2-ns.pb2-ns.lh-copy.sans-serif=movie.name_chn
    
mixin imgContainer(movie)
  .listingImg.bg-light-blue.flex-1-0-0
    if movie.image.secure_url
      +bgImage(movie.image.secure_url)
              
mixin detailsContainer(movie)
  .listingDetails.ph1.ph3-ns.flex.flex-column.flex-1-0-0.flex-1-0-0-ns.flex-1-0-0-m.flex-2-0-0-l.justify-around
    +mainDetails(movie, movie.director)
    .listingTitles.overflow-hidden
      +titleChn(movie)
      +titleEn(movie.name)
      
mixin movieListingContainer(movie, page)
  case page
    when "themes"
      .movieListing.bt.bw2.h4.h5-ns.flex.pointer.b--light-silver.white.bg-light-purple.hover-bg-purple
        block
    default
      .movieListing.bt.bw2.h4.h5-ns.flex.b--light-silver.white.bg-light-blue.hover-bg-light-blue
        block

mixin movieListing(movie, page)
  - const url = `/movies/${movie.key}`
  a.no-underline(href=url title=movie.name)
    +movieListingContainer(movie, page)
      +imgContainer(movie)
      +detailsContainer(movie)
      
