mixin mainDetails(movie, director)
  .mainDetails
    p.dark-gray.f7.f4-ns.fw1.lh-title.ma0.mt1
      if movie.director && movie.director.name
        p.dark-gray.fw1.lh-title.ma0
          div=`Director ${director.name} `
          if movie.director.name_chn
            div.ma0.sans-serif=director.name_chn
      if movie.year
        div.ma0.dib=movie.year
      if movie.duration
        div.ma0.dib=movie.duration + ' mins'

      
mixin titleEn(title)
  - const truncated = title.slice(0, 25) + (title.length > 25 ? '...' : '')
  h2.ttu.ma0.f5.f2-ns.lh-title
    =title
      
mixin titleChn(movie)
  if movie.name_chn
    h2.ttu.ma0.f6.f3-ns.pb2-ns.lh-copy.sans-serif.fw4=movie.name_chn
    
mixin imgContainer(movie)
  .listingImg.flex-1-0-0.bt.b--light-gray.bw1(class=`bg-${primaryColor}`)
    if movie.image.secure_url
      +bgImage(movie._.image.limit(400,500))
              
mixin detailsContainer(movie)
  .listingDetails.ph2.ph5-ns.pv4-ns.flex.flex-column.flex-1-0-0.flex-1-0-0-ns.flex-1-0-0-m.flex-2-0-0-l.justify-around.hover-white
    .listingTitles.overflow-hidden
      +titleEn(movie.name)
      +titleChn(movie)
    +mainDetails(movie, movie.director)
    
      
mixin movieListingContainer(movie)
  .movieListing.bt.bw1.h4.h5-ns.flex.b--light-silver.bg-white.dark-gray.hover-white(class=`hover-bg-light-${primaryColor}`)
    block

mixin movieListing(movie, page)
  - const url = `/movies/${movie.key}`
  a.no-underline(href=url title=movie.name)
    +movieListingContainer(movie)
      +imgContainer(movie)
      +detailsContainer(movie)
      
