mixin mainDetails(movie, director)
  .mainDetails
    p.light-gray.f7.f4-ns.fw5.lh-title.ma0.mt1
      if movie.year
        span.mr1=movie.year
      if movie.duration
        span.mh1=movie.duration + ' mins'
    if movie.director.name
      p.light-gray.f7.f4-ns.fw5.lh-title.ma0
        span=`Director ${director.name} `
        if movie.director.name_chn
          span.ma0.sans-serif=director.name_chn
      
mixin titleEn(title)
  - const truncated = title.slice(0, 25) + (title.length > 25 ? '...' : '')
  h2.ttu.ma0.f5.f3-ns.lh-title
    =title
      
mixin titleChn(movie)
  if movie.name_chn
    h2.ttu.ma0.f5.f2-ns.pb2-ns.lh-copy.sans-serif=movie.name_chn
    
mixin imgContainer(movie)
  .listingImg.bg-dark-blue.flex-1-0-0
    if movie.image.secure_url
      img.h-100.w-100.mw6(src=movie.image.secure_url)
      
mixin detailsContainer(movie)
  .listingDetails.ph1.ph3-ns.flex.flex-column.flex-1-0-0.flex-3-0-0-ns.justify-around
    +mainDetails(movie, movie.director)
    .listingTitles.overflow-hidden
      +titleChn(movie)
      +titleEn(movie.name)

mixin movieListing(movie)
  - const url = `/movies/${movie.key}`
  a.no-underline(href=url title=movie.name)
    .movieListing.bg-blue.white.bt.b--light-silver.bw2.h4.h5-ns.flex.hover-bg-blue
      +imgContainer(movie)
      +detailsContainer(movie)
