mixin sectionHeading(text)
    h2.f4.f3-ns.fw6.lh-title.ttu.blue=text

mixin subSectionHeading(text)
    h2.f4.f4-ns.mb0.fw3.lh-title.ttu.blue=text

mixin subHeading(text)
    h3.f5.mt3.ttu.light-silver
      =text
      
mixin sectionParagraph(body, isDarkTheme)
    - const length = 400
    - const cropped = utils.cropHTMLString(body, length, '...')
    - const shortBody = body.length<=400
    
    
    .sectionParagraph
      .initial-text
        p.f6.f5-ns.initial-text!=cropped
      .hidden-text.f6.f5-ns.dn!=body
      if !shortBody
        a.f6.f5-ns.underline.showMore.pointer.dim.blue(style = isDarkTheme ? `color: white` : '' id="show-more-link")="Show more"
      

mixin link(text, obj)
    a(href=`/${text}/${obj.key}`).white.f3.no-underline
      =obj.name
      
mixin profileLink(text, link)
    li.pa1.dim: a.light-silver.f6.f5-ns.w-auto(href=`/${link}`)
      =text      
      
mixin linkMovie(movie)
    +link('movies', movie)
    
mixin linkTheme(theme)
    +link('themes', theme)
    
mixin linkGenre(genre)
    +link('genres', genre)
    
          
mixin section(movie, section, title)
    if movie[section].html && movie[section].html.length
      hr.mt3.mb3
      section(id=`${section}`)
        +sectionHeading(title || section)
        +sectionParagraph(movie[section].html)

mixin subSection(movie, section, title)
    if movie[section].html && movie[section].html.length
      if section !== "context"
        hr.mt3.mb3
      section(id=`${section}`)
        +subSectionHeading(title || section)
        +sectionParagraph(movie[section].html)

mixin profileMenuItem(key, value)
  li.ttu.mr4.f6.f5-ns.fw5.tc.pv2.pv0-ns
    a(href=`#anchor-${key}` class="hover-white").menuPoint.white.no-underline.bw2.pointer=value
    
mixin mainMenuItem(href, value)
  li.ttu.mr4.f6.f5-ns.fw5.tc.pv2.pv0-ns
    a(href=`#anchor-${key}` class="hover-white").mainMenuPoint.white.no-underline.bw2.pointer=value
        
mixin breadcrumbs(type, page)
  - const url = `/${type}`
  - const linkText = `${type}`
  p#breadcrumbs.white.f5.lh-copy
    a.white.mr2(href="/") #{__.navbar.home}
    |  |
    if team  
        a.white.mh2.ttu.no-underline.fw6(href="/team") #{__.navbar.team}
    else if page  
      a.white.mh2.ttc(href=url)=linkText
    else
      span.fw6.mh2.ttu=linkText 
    if page 
      |  | 
      span.fw6.mh2.ttu=page
      
mixin bgImage(url)
  span.cover.dib.w-100.h-100(style=`background-image:url("${url}")`)    
  
mixin titleContainer(color)
  #title-container.pa3.mt5-ns.mt4.shadow-5.z-1.white(class=`bg-${color}`)
    block
      
mixin mainVideo(id)
  - const url = `https://mediacentral.ucl.ac.uk/player?autostart=n&fullscreen=y&width=0&height=0&videoId=${id}&quality=hi&captions=n&chapterId=0`
    iframe.absolute.top0.left0.w-100.h-100(src=url frameborder="0" scrolling="no" allowfullscreen)      

mixin video(id)
  - const url = `https://mediacentral.ucl.ac.uk/player?autostart=n&fullscreen=y&width=0&height=0&videoId=${id}&quality=hi&captions=n&chapterId=0`
  .pa0(style="position:relative;padding-bottom:45%;padding-top:10px;height:0;")
    iframe.absolute.top0.left0.mxw7.w-100.h-100(src=url frameborder="0" scrolling="no" allowfullscreen)

mixin teamMember(team)
  - const url = team.url ? team.url : '#'
  - const img = team.image ? team.image.secure_url : null
  article.ba.pa3.w-60-l.w-80-m.w-90.mv2.mh5-ns.mh2.b--light-gray.br2
    div.center.tc.br3
        if img
          img.h4.w-auto.h4(src=`${img}`)
    div.pv2.ph4-ns.ph1.tc
      a.no-underline.gray(href=`${url}`)
        h2.tc.b(class=`${primaryColor}`)=`${team.name}`
        p.fw2.tc!=team.text.html
