mixin sectionHeading(text)
    h2.f4.f3-ns.fw6.lh-title.ma2.ttu.blue=text

mixin subHeading(text)
    h3.f5.mt3.ttu.light-silver
      =text
      
mixin sectionParagraph(body, isDarkTheme)
    - const length = 200
    - const stripped = body.replace(/<[^>]*>/g, "")
    - const shortened = stripped.slice(0, length).trim() 
    - const withEllipsis = shortened + (stripped.length <= length ? '' : '...')
    .sectionParagraph
      .initial-text
        p.ma2.f6.f5-ns.initial-text=withEllipsis
      .hidden-text.ma2.f6.f5-ns.dn!=body
      a.f6.f5-ns.underline.showMore.pointer.ma2.dim.blue(style = isDarkTheme ? `color: white` : '' id="show-more-link")
        ="Show more"

mixin link(text, obj)
    a(href=`/${text}/${obj.key}`).white.f3.no-underline
      =obj.name
      
mixin profileLink(text, link)
    li.pa1.dim: a.light-silver.f6.f5-ns.w-auto(href=`/${link}`)
      =text      
      
mixin linkMovie(movie)
    +link('movies', movie)
    
mixin linkTheme(theme)
    +link('themes', theme)
    
mixin linkGenre(genre)
    +link('genres', genre)
    
mixin listCollection(type, list)
    if type === 'genre'
      +subHeading("Genres")
    else 
      +subHeading("Themes")
    ul.list.pa0.ma0
      for item in list
        if type === 'genre'
          +profileLink(item.name, `genres/${item.key}`)
        else
          +profileLink(item.name, `themes/${item.key}`)
          
mixin section(movie, section, title)
    if movie[section].html && movie[section].html.length
      hr.ma3
      section(id=`${section}`)
        +sectionHeading(title || section)
        +sectionParagraph(movie[section].html)
        
mixin breadcrumbs(type, page)
  - const url = `/${type}`
  - const linkText = `all ${type}`
  p#breadcrumbs.white.f7.lh-copy
    a.white.mr2(href="/") home
    |  |
    if page  
      a.white.mh2(href=url)=linkText
    else
      span.fw6.mh2.ttu=linkText 
    if page 
      |  | 
      span.fw6.mh2.ttu=page
      
mixin bgImage(url)
  span.cover.dib.w-100.h-100(style=`background-image:url("${url}")`)    
  
mixin titleContainer(color)
  #title-container.pa3.shadow-5.z-1.light-gray(class=`bg-${color}`)
    block
  
        
