mixin sectionHeading(text)
    h2.f4.f3-ns.fw6.lh-title.ttu.blue=text

mixin subHeading(text)
    h3.f5.mt3.ttu.light-silver
      =text
      
mixin sectionParagraph(body, isDarkTheme)
    - const length = 200
    - const cropped = utils.cropHTMLString(body, length, '...')
    
    .sectionParagraph
      .initial-text
        p.f6.f5-ns.initial-text!=cropped
      .hidden-text.f6.f5-ns.dn!=body
      a.f6.f5-ns.underline.showMore.pointer.dim.blue(style = isDarkTheme ? `color: white` : '' id="show-more-link")
        ="Show more"

mixin link(text, obj)
    a(href=`/${text}/${obj.key}`).white.f3.no-underline
      =obj.name
      
mixin profileLink(text, link)
    li.pa1.dim: a.light-silver.f6.f5-ns.w-auto(href=`/${link}`)
      =text      
      
mixin linkMovie(movie)
    +link('movies', movie)
    
mixin linkTheme(theme)
    +link('themes', theme)
    
mixin linkGenre(genre)
    +link('genres', genre)
    
          
mixin section(movie, section, title)
    if movie[section].html && movie[section].html.length
      hr.mt3.mb3
      section(id=`${section}`)
        +sectionHeading(title || section)
        +sectionParagraph(movie[section].html)

mixin profileMenuItem(key, value)
  li.ttu.mr4.f6.f5-ns.fw5.tc.pv2.pv0-ns
    a(href=`#anchor-${key}` class="hover-white").menuPoint.light-gray.no-underline.bw2.pointer=value
        
mixin breadcrumbs(type, page)
  - const url = `/${type}`
  - const linkText = `all ${type}`
  p#breadcrumbs.white.f5.lh-copy
    a.white.mr2(href="/") home
    |  |
    if page  
      a.white.mh2(href=url)=linkText
    else
      span.fw6.mh2.ttu=linkText 
    if page 
      |  | 
      span.fw6.mh2.ttu=page
      
mixin bgImage(url)
  span.cover.dib.w-100.h-100(style=`background-image:url("${url}")`)    
  
mixin titleContainer(color)
  #title-container.pa3.mt5-ns.mt4.shadow-5.z-1.light-gray(class=`bg-${color}`)
    block
  
mixin video(id)
  - const url = `https://mediacentral.ucl.ac.uk/player?autostart=n&fullscreen=y&width=0&height=0&videoId=${id}&quality=hi&captions=n&chapterId=0`
  iframe.absolute.top0.left0.w-100.h-100(src=url)
