mixin sectionHeading(text)
    h2.f4.f3-ns.fw6.lh-title.ma2.ttu.light-red=text

mixin subHeading(text)
    h3.f5.ma2.ttu
      =text
      
mixin sectionParagraph(body)
    - const length = 200
    - const stripped = body.replace(/<[^>]*>/g, "")
    - const shortened = stripped.slice(0, length).trim() 
    - const withEllipsis = shortened + (stripped.length <= length ? '' : '...')
    .sectionParagraph
      .initial-text
        p.ma2.f6.f5-ns.initial-text=withEllipsis
      .hidden-text.ma2.f6.f5-ns.dn!=body
      a.f6.f5-ns.underline.light-red.showMore.pointer.ma2
        ="Show more"

mixin link(text, obj)
    a(href=`/${text}/${obj.key}`)
      =obj.name
      
mixin pill(text, link)
    li.bg-gray.pa2.br-pill.dim.ma1: a.no-underline.white.f6.f5-ns(href=`/${link}`)
      =text      
      
mixin linkMovie(movie)
    +link('movies', movie)
    
mixin linkTheme(theme)
    +link('themes', theme)
    
mixin linkGenre(genre)
    +link('genres', genre)
    
mixin listCollection(type, list)
    if type === 'genre'
      +subHeading("Genres")
    else 
      +subHeading("Themes")
    ul.list.pa0.flex.flex-wrap.ma0
      for item in list
        if type === 'genre'
          +pill(item.name, `genres/${item.key}`)
        else
          +pill(item.name, `themes/${item.key}`)
          
mixin section(movie, section, title)
    if movie[section].html.length
      hr.ma3
      section(id=`${section}`)
        +sectionHeading(title || section)
        +sectionParagraph(movie[section].html)
        
